.feature-block {
  position: relative;
}

/* LEFT BLOCKS (7 shape) */
.feature-block.left-1::before {
  content: "";
  position: absolute;
  top: 10px; /* near the dot */
  left: 306px; /* adjust spacing */
  width: 65px;
  height: 1px;
  background-color: black; /* light purple line */
}

.feature-block.left-1::after {
  content: "";
  position: absolute;
  top:-2px;
  left:406px; /* aligns with the start of ::before */
  width: 1px;
  height: 110px; /* length going downward */
  background-color: black;
  transform: rotate(-40deg);
}

/* RIGHT BLOCKS (flipped 7 shape) */
.feature-block.right::before {
  content: "";
  position: absolute;
  top: 9.5px;
  right: 260px;
  width: 55px;
  height: 1px;
  background-color: black;
}

.feature-block.right::after {
  content: "";
  position: absolute;
  top:0px;
  right: 350px;
  width: 1px;
  height: 125px;
  background-color: black;

  transform:  rotate(35deg);
}


.feature-block.left-2::before {
  content: "";
  position: absolute;
  top: 125px; /* near the dot */
  left: 286px; /* adjust spacing */
  width: 35px;
  height: 1px;
  background-color: black; /* light purple line */
}


.feature-block.left-2::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 355px; /* aligns with the start of ::before */
  width: 1px;
  height: 105px; /* length going downward */
  background-color: black;
  transform: rotate(40deg);

}

/* Purple Circles */











/* Dots */
.feature-dot {
  width: 20px;
  height: 20px;
  border: 4px solid #E5E0FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-dot {
  width: 12px;
  height: 12px;
  background: #745cff;
  border-radius: 50%;
  left:200px
}


.no-wrap-title .feature-title{
  white-space: nowrap;
  min-width: max-content;
}