.design {
  position: relative;
  background: #745cff;
  padding: 2rem;
  color: white;
}

/* Left side of V */
  .design::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(10%) rotate(45deg);
    width: 40px;
    height: 40px;
    background: #ffffff;
  }

/* Right side of V */
.design::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(0%) rotate(-45deg);
  width: 40px;
  height: 40px;
  background: #ffffff;
}